.movie-card {
    background: #252525;
    box-shadow: 4px 4px 4px rgba(97, 97, 97, 0.25);
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 215px;
    margin: .7rem 0rem;
    padding: .5rem .5rem;
}

@media (min-width: 698px) {
    .movie-card {
        margin: .7rem .5rem;
    }
}

@media (min-width: 698px) and (max-width: 968px) {
    .movie-card {
        width: 45%;
        height: 220px;
    }
}

@media (min-width: 968px) {
    .movie-card {
        width: 30%;
        height: 255px;
    }
}

.movie-card .header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem 0rem .5rem 0rem;
    height: 85%;
}

.movie-card .header .cover {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding: 0rem .3rem 0rem 0rem;
}

.movie-card .header .cover img {
    width: 145px;
}

.movie-card .header .content {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.movie-card .header .content h1 {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 1.1rem;
    color: #FFFFFF;
    margin: 0rem 0rem .5rem 0rem;
}

.movie-card .header .content h3 {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0rem 0rem 1rem 0rem;
}

.movie-card .header .content h2,
.movie-card .footer h2 {
    font-family: Quicksand;
    font-weight: 300;
    font-size: .9rem;
    color: #FFFFFF;
    margin: 0rem 0rem 0rem 0rem;
}

.movie-card .footer {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

.movie-card .footer h2 b {
    font-weight: 700;
}

.movie-card .footer .featured {
    display: flex;
    width: auto;
    padding: .3rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: #BF2C37;
    color: #000;
    font-family: Quicksand;
    font-weight: 700;
    font-size: .9rem;
    text-transform: uppercase;
    border-radius: 20px;
}